{% extends 'base.html' %}
{% block content %}
<section>
    <div class="startGameSection">
        <h1>Joust Multiplayer</h1>
        <div>
            <form method="POST">
                <div class="formgroup">
                    <label for="username">Username:</label>
                    <input id="username" type="text" name="username" required="true"/>
                    <div>
                        <label for="color">Color:</label>
                        <div class="colorSelectContainer">
                            <input id="color" type="color" name="color" required="true"/>
                            <div id="colorDiv"></div>
                        </div>
                    </div>
                    
                    <label for="lobbycode">Lobby Join Code: (leave empty for new game)</label>
                    <input id="lobbycode" type="text" name="lobbycode"/>

                    <input type="submit" class="btn" value="Join/Create" formaction="/lobby"/>
                    
                </div>
            </form>
            {% for message in get_flashed_messages() %}
                <p class="errorMessage">{{ message }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="instructionSection">
        <div class="instructionWrapper">
            <h1>How To Play</h1>
            <ul>
                <p>You control your player using the arrow keys: </p>
                <li> 
                    You can only move left/right at the same time that you move up.
                    You can slow your player down without moving up if you are touching the ground
                </li>
            </ul>
            <ul>
                <p>How to score points:</p>
                <li>
                    You gain points by colliding with your opponent while you are higher vertically then they are.
                </li>
            </ul>
            <ul>
                <p>How to create a game:</p>
                <li>
                    To start a new game, leave the <i>lobby join code</i> empty and click the <i>Join/Create</i> button
                    Then send the 12 digit Lobby Join Code to a friend to play with you.
                </li>
            </ul>
        </div>
    </div>
</section>
<script>
    let startColor = '#' + Math.floor(Math.random()*16777215).toString(16)
    const colorSelect = document.getElementById("color");
    const colorDiv = document.getElementById("colorDiv");

    colorSelect.value = startColor
    updateColorDiv()

    document.getElementById("color").addEventListener("input", updateColorDiv);

    function updateColorDiv() {
        color = colorSelect.value;
        colorDiv.style.cssText ="background-color: " + color;
    }
</script>
{% endblock content %}
